<section id="about-section" class="About">
    <div class="about-content">
        <h1>About Me</h1>
        <p>
            Hello, I'm Nkululeko Sekwanele Zwane, a dynamic professional based in Johannesburg, South Africa. I am a<br>
                aspiring Software Engineer, Filmmaker, and Entrepreneur with a commitment to innovation and excellence.<br>
                <br>
                I am passionate about the intersection of technology and storytelling. <br>
                
                My academic journey includes earning a Film Degree with a major in Augment Reality (AR) and Virtual Reality (VR)  <br>
                immersive technology from the prestigious University of the Witwatersrand, where I honed my storytelling skills and  <br>
                developed a keen artistic eye. Complementing this, I'm currently pursuing a Software Engineering Diploma at Wethinkcode,  <br>
                 solidifying my technical expertise and passion for cutting-edge technology. Furthermore, I'm part of Codetribe academy  <br>
                 learning Typescript and Angular. <br>
                 <br>
            
                As a Software Engineer student, I specialize in a diverse set of technologies, including Java, Python,  <br>
                Typescript, HTML, CSS, JavaScript, Django, Flutter etc. My proficiency extends across the development spectrum,  <br>
                allowing me to create robust and scalable solutions that meet the evolving demands of the digital landscape. <br>
                
                Beyond my technical and creative pursuits, I am an Entrepreneur driven by a vision to make a positive impact on the world. <br>
                 My journey encompasses a commitment to continuous learning, adaptability to emerging trends, and a focus on delivering  <br>
                 solutions that resonate with users and audiences alike. <br>
                 <br>
                 I am dedicated to contributing meaningfully to both fields. Whether crafting code or bringing stories to life on <br>
                  the screen, I thrive on challenges and am excited about the limitless possibilities that lie ahead. Let's  <br>
                  connect and explore how my unique blend of skills and experiences can bring value to your projects and endeavors. <br>
        
    </div>
    <img src="ist.jpg" alt="my-photo" class="about-image">
    <a href="/home" class="back-btn">Back to Home</a>
    <footer class="footer">
        <p>&copy; 2024 Nkululeko Sekwanele Zwane. All rights reserved.</p>
    </footer>
</section>
