<section id="about-section" class="About">
    <div class="about-content">
        <h1>About Me</h1>
        <p>
            Hello, I'm Nkululeko Sekwanele Zwane, a dynamic professional based in Johannesburg, South Africa. I am a<br>
                aspiring Software Engineer, Filmmaker, and Entrepreneur with a commitment to innovation and excellence.<br>
                <br>
            I am passionate about the intersection of technology and storytelling, and I am dedicated to contributing<br>
             meaningfully to both fields. Whether crafting code, bringing stories to life on the screen <br>
             and/or immersive experience through VR and AR, I thrive on challenges and am excited about<br>
              the limitless possibilities that lie ahead.
        </p>
    </div>
    <img src="public/ist.jpg" alt="my-photo" class="about-image">
    <a routerLink="/" class="back-btn">Back to Home</a>

</section>
