/* General body settings */
body, html {
    height: 100%; 
    margin: 0;
    padding: 0;
    background-color: rgb(185, 183, 183);
    font-family: Arial, sans-serif;
}

.content {
    padding: 10px;
    text-align: center;
}

section {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afb2b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0; 
    padding: 20px;
    border-radius: 8px;
}


.About {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.about-content {
    flex: 1;
    padding-right: 20px;
}


.about-image {
    flex: 0 0 400px; 
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Make sure the image doesn't get too big on smaller screens */
@media screen and (max-width: 768px) {
    .About {
        flex-direction: column; 
        text-align: center;
    }

    .about-content {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .about-image {
        width: 100%;
        max-width: 300px; 
    }
}

.about-content h1, .about-content p {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.back-btn {
    position: fixed;
    top: 20px; 
    right: 20px; 
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 1000; 
}

.back-btn:hover {
    background-color: #158862;
}


