html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px; 
    gap: 20px; 
    min-height: 100vh; 
    box-sizing: border-box; 
    background-color: rgb(191, 194, 193);
}

.about-content {
    flex: 1;
    max-width: 100%; 
}

.about-content h1 {
    margin-top: 0;
}

.about-content p {
    line-height: 1.6;
}

.about-image {
    max-width: 20%; 
    height: auto;
    border-radius: 8px; 
}

@media (max-width: 768px) {
    header, section, footer {
        margin: 10px;
    }  
}

.back-btn {
    position: fixed;
    top: 20px; 
    right: 20px; 
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 1000; 
}

.back-btn:hover {
    background-color: #158862;
}
main {
    flex: 1;
}


.footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    position: fixed;
  bottom: 0px;
    width: 100%;
    z-index: 1000; 
}