<section id="portfolio-section">
    <div class="portfolio-content">
        <h1>Portfolio</h1>
        <p>Here are some of the projects I've worked on. Click on the view button learn more about each project.</p>

        <div class="portfolio-grid">
            <div class="portfolio-item">
                <img src="project1-thumbnail.jpg" alt="Project 1">
                <h2>Tick Tac Toe</h2>
                <p>Python implementation of automatic Tic Tac Toe game using random number.</p>
                <a href="https://github.com/nkululeko111/tick-tac-toe.git" target="_blank" class="btn">View Project</a>
            </div>
          
            <div class="portfolio-item">
                <img src="project2-thumbnail.jpg" alt="Project 2">
                <h2>Traffic Light</h2>
                <p>Traffic Light simulation using Javascript, CSS and HTML.</p>
                <a href="https://github.com/nkululeko111/traffic-light.git" target="_blank" class="btn">View Project</a>
            </div>
            
            <div class="portfolio-item">
                <img src="project3-thumbnail.jpg" alt="Project 3">
                <h2>Memory Game</h2>
                <p>Find all the matching pairs of cards. implemented using Javascript, HTMl and CSS.</p>
                <a href="https://github.com/nkululeko111/memory-game-javascript.git" target="_blank" class="btn">View Project</a>
            </div>
            
             <div class="portfolio-item">
                <img src="project1-thumbnail.jpg" alt="Project 4">
                <h2>Queuing System</h2>
                <p>A system allows people to queue at the confort of their homes while waiting fo their turn.</p>
                <a href="https://github.com/nkululeko111/queuing-system.git" target="_blank" class="btn">View Project</a>
            </div>

            <div class="portfolio-item">
                <img src="project2-thumbnail.jpg" alt="Project 5">
                <h2>Calculator</h2>
                <p>Basic implementation of a Calculator in Typescript.</p>
                <a href="https://link-to-project2.com" target="_blank" class="btn">View Project</a>
            </div>
           
            <div class="portfolio-item">
                <img src="project3-thumbnail.jpg" alt="Project 6">
                <h2>My Portfolio</h2>
                <p>First ever portfolio website I created using HTML, CSS and Javascript.</p>
                <a href="https://github.com/nkululeko111/myPorfolio.git" target="_blank" class="btn">View Project</a>
            </div>
         
        </div>
    </div>
    <a routerLink="/" class="back-btn">Back to Home</a>
</section>

